<h2>Enter a Cuisine and a Zip Code:<h2>


<div class="cuisine">
    <h5>Cuisine:</h5>
    <%= text_field_tag :cuisine, params[:cuisine], placeholder: 'Indian, western Bulgarian' %>
  </div>
<div class="zip">
    <h5>Zip Code:</h5>
    <%= text_field_tag :zip, params[:zip], placeholder: 'zip code' %>
</div>
</br>
<button type="submit" class="search-button">Click Me!</button>
